In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
import time
import warnings
import math

Loading Data

In [54]:
train_model_variants = pd.read_csv(r"C:\Users\alexa\Downloads\msk-redefining-cancer-treatment\training_variants\training_variants")
train_model_variants.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [56]:
test_variants = pd.read_csv(r"C:\Users\alexa\Downloads\msk-redefining-cancer-treatment\test_variants\test_variants")
test_variants.head()

   ID     Gene Variation
0   0    ACSL4     R570S
1   1    NAGLU     P521L
2   2      PAH     L333F
3   3     ING1     A148D
4   4  TMEM216      G77A

In [59]:
test_text = pd.read_csv(r"C:\Users\alexa\Downloads\msk-redefining-cancer-treatment\test_text\test_text", sep="\|\|", names=["ID", "Text"], skiprows=1, engine="python", encoding="latin-1")
test_text.head()

   ID                                               Text
0   0  2. This mutation resulted in a myeloproliferat...
1   1   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2  Vascular endothelial growth factor receptor (V...
3   3  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4   Abstract Retinoblastoma is a pediatric retina...

In [55]:
#made to ensure that the text is separted based on the functionality of each component: label, separato
train_model_text = pd.read_csv(r"C:\Users\alexa\Downloads\msk-redefining-cancer-treatment\training_text\training_text", sep="\|\|", names=["ID", "Text"], skiprows=1, engine="python", encoding="latin-1")
train_model_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

Merging Training Text and Training Variants

In [60]:
training_dataframe = pd.merge(train_model_variants, train_model_text, on = "ID")
training_dataframe.head()

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [61]:
test_dataframe = pd.merge(test_variants, test_text, on = "ID")
test_dataframe.head()

   ID     Gene Variation                                               Text
0   0    ACSL4     R570S  2. This mutation resulted in a myeloproliferat...
1   1    NAGLU     P521L   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2      PAH     L333F  Vascular endothelial growth factor receptor (V...
3   3     ING1     A148D  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4  TMEM216      G77A   Abstract Retinoblastoma is a pediatric retina...

Cross Validation

In [70]:
from sklearn.model_selection import train_test_split

#split the class column from the dataframe since we are trying to analyze the amount of 
X = training_dataframe.drop(columns='Class').copy()
y = training_dataframe['Class']

X_train, X_rem, y_train, y_rem = train_test_split(X, y, train_size = 0.8)

X_vaild, X_test, y_valid, y_test = train_test_split(X_rem, y_rem, test_size=0.5)